@use "variables.scss" as vars;

// Begin Page Class Wrap //
.page-pathway-clinics {
  .section-images-section1 {
    display: flex;
    align-items: center;
    picture {
      flex: 1 1 auto;
      height: auto;
      z-index: 10;
    }

    .image-section1-1 {
      margin-left: -8%;
      top: 10%;
    }
    .image-section1-2 {
      z-index: 1;
      top: 3%;
      margin-left: -5%;
    }
    .image-section1-3 {
      top: 8%;
      margin-left: -3%;
    }
  }

  .section-images-section2 {
    position: relative;
    .image-section2-0 {
      width: 60%;
    }
    .image-section2-1 {
      width: 60%;
      margin-left: auto;
      margin-top: -10%;
    }
    .image-section2-2 {
      width: 60%;
      margin-top: -20%;
    }
    .image-section2-3 {
      width: 60%;
      margin-left: auto;
      margin-top: -20%;
    }
  }

  .section-images-section3 {
    position: relative;
    .image-section3-0 {
      width: 95%;
      z-index: 10;
    }
    .image-section3-1 {
      width: 95%;
      margin-top: -3%;
      margin-left: auto;
    }
    .image-section3-2 {
      width: 80%;
      z-index: 10;
      margin-top: -3%;
    }
  }

  .section-images-section4 {
    position: relative;
    .image-section4-0 {
      width: 75%;
    }
    .image-section4-1 {
      width: 75%;
      margin-top: -8%;
      margin-left: auto;
      z-index: 10;
    }
    .image-section4-2 {
      width: 75%;
      z-index: 20;
      margin-top: -8%;
    }
    .image-section4-3 {
      width: 75%;
      margin-top: -8%;
      margin-left: auto;
      z-index: 30;
    }
  }

  .image-headImages-0 img{
    object-position: center 40%;

    @media( min-width: vars.$md-width){
      object-position: center;
    }
  }

  /// End page class wrap //
}
